<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Car List</title>
</head>
<body>
<h1>Car details</h1>
<table border="1">
    <thead>
    <tr>
        <th> Name</th>
        <th> Color</th>
        <th> Year</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="car : ${cars}">
        <td><span th:text="${car.getName()}"> Name </span></td>
        <td><span th:text="${car.getColor()}"> Color </span></td>
        <td><span th:text="${car.getYear()}"> Year </span></td>
    </tr>
    </tbody>
</table>
</body>
</html>